main img{
width: 1800px;
height: 900px;
}

main h1{
 text-align: center;
}

header img{
    width: 700px;
    height: 600px;
    
}

main {
    background-color:saddlebrown;
}

footer {
    background-color: green;
}
